<html>
<head>
    <title="Using Django"></title>
    <style>
.turnblue{
color:white;
background:blue;
}
.turnred{
color:white;
background:red;
}

.board button{
width:100px;
height:100px;

margin:1px;
border-radius:50%;
border:4px black solid;
}
</style>
<script src="myscript3.js" type="javascript" ></script>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>
<h1>Hello there - {{pk}} </h1>
<div class="container" align="center">
<h1 style="black">Welcome to Connect Four game</h1>
<h2>Connect four chips to win.</h2>
<h4>Let's start!!</h4>
<br />
<table class='board'>
<tr>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
</tr>
<tr>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
</tr>
<tr>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
</tr>
<tr>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
</tr>
<tr>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
<td>
<button type ="button" name = "button" />
</td>
</tr>
</table>
</div>
<script
  src="https://code.jquery.com/jquery-3.6.4.js"
  integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script>

</body>
</html>
